body {  margin: 0;
        padding: 0;
        font-size: 14px;
        color: #484848;
        font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

main {height:80vh;
        width: 100vw;
    }
